*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
#section{  
     height: 400px;
    width: 100%;
      background-image: url("https://live.staticflickr.com/5085/5375714302_03c18ef267_b.jpg")
      

}
#name{
    font-size: 3em;
    color: black;
    
    
}
#div{
    height: 400px;
    width: 100%;
    background-color: rgba(254,251, 210, 0.5);

}
#clg{
    margin-top: 100px;
    width: 700px;
    height: 30px;
    border: solid thin  white;
}
#clg1{
    width: 700px;
    height: 200px;
    border: solid thin white;
}
#hee{
    display: flex;
}
#fi{
    color: rgb(231, 210, 20);
}
#map{
    height: 200px;
    width: 240px;
    margin-top: 100pxSss;
}
#o{
    color: green;
}
#bb{
 
    font-size: 1.3em;
    color: blueviolet;
}
